@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
  /* So height is actuall height */
  box-sizing: border-box;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  
  /* Instead of adjusting the margin for every element, changed the padding, which in this case does almost the same, with les code */
  padding:15px;
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Adjust space to the right */
  margin-right: 15px ;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  margin-top: 10px; /* Do to cardinality, I don't neeed to repeat myself with "margin-top", as it'll apply automatically to both */
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblpue;
}

.alignHeader {
  display: flex;
  justify-content: space-between;
  /* Change font weight for header w/o the need of a nother fuction, as it does not influence the weight of the x */
  font-weight: 700;
  font-size: 20px;
  /* Margin - space to the bottom, -> the Lorem idpsum text. */
  margin-bottom: 5px;
 }
